@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  text-decoration-line: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  padding: 10px;
  z-index: 22;
  height: auto;
  background-image: linear-gradient(to left, #8ec9f9, transparent);
}
.mle {
  background-color: #2896b8;
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: x-large;
  margin-left: 8%;
  letter-spacing: 2px;
}
nav ul li {
  display: inline-block;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  margin: 0 30px;
}
.home:hover {
  color: #2896b8;
}
.home {
  color: black;
}
.img {
  width: 20px;
  margin-left: 5px;
}
.five {
  background-color: #2896b8;
  border: solid #2896b8 2px;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: 2px;
}
.five:hover {
  color: black;
}
.six:hover {
  color: black;
}
.six {
  border: solid #2896b8 2px;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 12px;
  color: #2896b8;
  letter-spacing: 2px;
  height: 20px;
  position: absol}
.na {
  display: inline-block;
  margin-left: 530px;
}
.header{
  margin-top: 50px;
  text-align: center;
  font-size: 38px;
  margin-bottom: 50px;
}
.header h4 > span{
  color: #0a81ab;
}
.na li:hover .dropdown-content {
  display: block;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  z-index: 2;
  position: absolute;
  background-color: #8ec9f9;
  min-width: 160px;
  width: 200px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
color: white;
}
.gallery-container{
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  margin: 0 100px 0 100px;
  gap: 40px;

}
.gallery-container .row{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  position: relative;
}
.gallery-container .row img{
  position: relative;
  width: 300px;
}
.card{
  /* background-color: red; */
  padding-bottom: 10px;
  box-shadow: 1px 10px 5px 0px rgba(171, 171, 171, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(168, 168, 168, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.card h3{
  font-size: 23px;
}

